/* 原子化整理css */
.mgt20 {
    margin-bottom: 20px;
}
.mgt40 {
    margin-bottom: 40px;
}
.pad30{
    padding: 30px;
}
.bkshadow {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .88));
    box-shadow: 0 4px 16px rgba(0, 0, 0, .08);
    border-radius: 8px;
    box-sizing: border-box;
}
/* 封装库css */

/* 弹窗样式 */
.popup {
    position: fixed;
    top: 20%;
    right: 30px;
    transform: translateY(-50%);
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .88));
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, .08); */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    width: 240px;
}
.popup .payboxa{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
.popup .payboxb{
    box-sizing: border-box;
}
.popup .paytext{
    font-size: 16px;
    font-weight: 600;
    /* color: #f7d8a5; */
    line-height: 28px;
    text-align: center;
    margin: 0 auto; 
    background-color: linear-gradient(90deg, #fff7e6, #fff5e0);
    color:#7e5d25;
    width: 100%;
}
.imgalipay{
    border-radius: 5px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

.btnjin{
    color:#7e5d25;
    border: 2px solid #d6b885;
    background-color: linear-gradient(90deg, #fff7e6, #fff5e0);
}