/* animove st*/


/*抖动动画-左上右下*/
@keyframes rotateClockwise {
  0% {
    transform: translate(0px, 0px); /* 初始位置 */
  }
  20% {
  	transform:translate(0px, 50px);
  }
  40% {
  	transform: translate(-50px, 0px);
  }
  60% {
  	transform: translate(50px, 0px);
  }
  80% {
  	transform:translate(0px, 50px);
  }
  100% {
  	transform:translate(0px, 50px);
  }
}
/*抖动动画-左右抖动*/
@keyframes rotateClockwise {
  0% {
    transform: translate(0px, 0px); /* 初始位置 */
  }
  25% {
    transform:translate(-100px, 0);
  }
 /* 50% {
    transform: translate(0px, 0px);
  }*/
  75% {
    transform:translate(100px, 0px);
  }
  100% {
    transform:translate(0px, 0px);
  }
}











/*从上到下展开*/
.out-ver-top-show {
	-webkit-animation: out-ver-top-show 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
	animation: out-ver-top-show 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}
@-webkit-keyframes out-ver-top-show {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes out-ver-top-show {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}


/*从下到上收起*/
.out-ver-top-fold {
	-webkit-animation: out-ver-top-fold 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: out-ver-top-fold 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes out-ver-top-fold {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes out-ver-top-fold {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}







/*从上到下跳出来*/
.expand-fwd-top {
  -webkit-animation: expand-fwd-top 0.8s both;
  animation: expand-fwd-top 0.8s both;
}
@-webkit-keyframes expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* 从下到上跳上去 */
.fold-fwd-bot{
	-webkit-animation: fold-fwd-bot 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) reverse both;
	animation: fold-fwd-bot 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) reverse both;
}
@-webkit-keyframes fold-fwd-bot {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fold-fwd-bot {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* animove end*/