body {
  /* color: #303133;
  position: relative;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-size: 16px;
  background: linear-gradient(135deg, #1a2a6c, #3b18c6, #ffffff);
  background: linear-gradient(42deg, #1a2a6c 20%, #3b18c6 83%, #ffffff 94%);
  background-color: #F5F5F7; */
}