/*自研原子化公共样式rem部分 st html font-size为100px*/
/*字体大小*/
.font08 {
  font-size: 0.08rem;
}
.font13{
  font-size: 0.13rem !important;
}
.font14 {
  font-size: 0.14rem !important;
}
.font16 {
  font-size: 0.16rem;
}
.font18 {
  font-size: 0.18rem;
}
.font20 {
  font-size: 0.2rem;
}
.font24 {
  font-size: 0.24rem;
}
.font26 {
  font-size: 0.26rem;
}
.font44{
    font-size: 0.44rem;
}
/*字体宽度*/
.fontw400 {
  font-weight: 400 !important;
}
.fontw430{
  font-weight: 430;
}
.fontw600 {
  font-weight: 600 !important;
}
.line24{
  line-height: 0.24rem !important;
}
.pad10 {
  padding: 0.1rem;
  box-sizing: border-box;
}
.pad20 {
  padding: 0.2rem;
  box-sizing: border-box;
  overflow: hidden;
}
.mgbt10 {
  margin-bottom: 0.1rem;
}
.mgbt20 {
  margin-bottom: 0.2rem;
}
.mgbt30 {
  margin-bottom: 0.3rem;
}

.mgtp20 {
  margin-bottom: 0.2rem;
}
.radius10 {
  border-radius: 0.1rem;
  box-sizing: border-box;
}
.radius20 {
  border-radius: 0.2rem;
  box-sizing: border-box;
}
.backwhite{
  background: #fff;
  box-sizing: border-box;
}
/* 原子化公共样式rem部分 end */
















/* px 部分st */
.pad10{
  padding: 10px;
  box-sizing: border-box;
}
.pad20{
  padding: 20px;
  box-sizing: border-box;
}
.radius6{
  border-radius: 6px;
}
.radius8{
  border-radius: 8px;
}
.radius10{
  border-radius: 10px;
}
.radius20{
  border-radius: 20px;
}
.mgt10 {
  margin-top: 10px;
}
.mgt20 {
  margin-top: 20px;
}
.mgt10 {
  margin-bottom: 10px;
}
.mgt20 {
  margin-bottom: 20px;
}
/* px 部分end */


