/* 重置样式表 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
pre,
form,
input,
th,
td,
select {
  margin: 0;
  padding: 0;
  font-family: Arial, "黑体";
  /* font-size: 12px; */
  font-weight: normal;
}
em,
i {
  font-style: normal;
}
strong,
b {
  font-weight: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
form {
  margin: 0;
}
textarea {
  resize: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  resize: none;
  overflow: auto;
}
input {
  outline: none;
}
input::-ms-clear {
  display: none;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}
.clear {
  zoom: 1;
}


.startTitle {
  font-size: 16px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.page-content {
  /*margin: 30px;*/
  /*width: 1100px;*/
  /*border: 1px solid red;*/
  /*background-color: #ffffff;*/
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  /*height: 100%;*/
  background-color: #ffffff;
}
.title-h3 {
  margin: 0;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  height: 32px;
}
.grid-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.sub-title {
  font-size: 14px;
  color: #333333;
  line-height: 33px;
  padding: 0 12px 0 0;
}

.suffixText {
  position: relative;
  top: 10px;
}
.btn-submit,
.btn-save {
  width: 160px;
  height: 40px;
  background: #13c76b;
  border-radius: 4px;
}

/*step*/
.stepBox {
  margin-top: 35px;
  margin-bottom: 10px;
}
.stepBox li {
  display: inline-block;
}
.stepBox .stepText {
  width: 9%;
  height: 45px;
  /*line-height: 100px;*/
}
.stepBox .stepText img {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.stepBox .stepText span {
  margin-top: 5px;
  display: block;
  text-align: center;
  font-size: 13px;
  font-family: Arial, "黑体";
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
}

.stepBox .stepText span.act {
  color: #0abe64;
}
.stepBox .stepLine {
  position: relative;
  top: -17px;
  width: 35%;
  height: 3px;
  background-color: #ffeeeeee;
}
.stepBox .stepLine.act {
  background-color: #0abe64;
}
.credenPhoto img.imgsrcval {
  position: relative !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 170px !important;
}

/* 修正按钮样式统一 */
.dmh-btn {
  padding: 0 25px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.dmh-colbtn {
  border-color: #14c86c !important;
  background: #14c86c !important;
  padding: 0 !important;
  height: 40px !important;
  line-height: 40px !important;
}
.dmh-colbtn:hover {
  opacity: 0.9 !important;
}
.dmh-greybtn {
  border-color: #596880 !important;
  background: #596880 !important;
  padding: 0 25px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.dmh-greybtn:hover {
  opacity: 0.9 !important;
}
